* {
    margin: 0;
    padding: 0;
}
    

.div-figure {
    float: right;
    text-align: center;
    width: 220px;
}

.imagem-principal {
    width: 200px;
    height: 350px;
    text-align: center;
    
}