body{
    background-color: rgb(1, 80, 38);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
h1{
    text-align: center;
    color: rgb(235, 232, 184);
    font-style: italic;
    font-size: 80px;
}
h2{
    text-align: right;
    font-size: 40px;
    color: rgb(3, 98, 11);
}
h3{
    text-align: center;
    font-size: 50px;
}
h4{
    text-align: left;
    font-size: 30px;
}
.list{
    text-align: left;
}

.minha-imagem01{
  width: 500px;
    float: right;
  

}
.minha-imagem02{

}
